.hero-container{
    background-color: var(--gray-6);
    height: 100%;
    position: relative;
}
.hero-boxes{
    height: 400px;
    width: 100%;
    position: absolute;
    top: 358px;
}
.hero-content{
    display: flex;
    flex-direction: column;
}
.hero-h1{
    max-width: 675px;
    text-align: left;
    /* padding-left: 40px; */
    color: var(--white);
    font-family: var(--font-Lato);
    font-size: 5.125rem;
    line-height: 5.125rem;
    font-weight: 900;
    padding-bottom: 26px;
}
.hero-h3 {
    max-width: 551px;
    text-align: left;
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.hero-content-button-black{
    margin: 10px;
    width: 165px;
    height: 55px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-Roboto);
    font-size: 1rem;
    line-height: 1.1rem;
    cursor: pointer;
    border: none;
}
.hero-content-button-black:hover{
    background-color: var(--green-transp);
    color: var(--gray);
}

.hero-content-button-green{
    margin: 10px;
    width: 165px;
    height: 55px;
    background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-Roboto);
    font-size: 1rem;
    line-height: 1.1rem;
    cursor: pointer;
    border: none;
}
.hero-content-button-green:hover{
    background-color: var(--green-transp);
    color: var(--gray);
}

.hero-container .hero-ul{
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-bottom-white {
    width: 585px;
    height: 355px;
    padding: 65px;
    color: var(--black);
    background-color: var(--white);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 19px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hero-bottom-white h4{
    color: var(--black);
    font-family: var(--font-Lato);
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 2.0625rem;
    text-align: left;
    padding-bottom: 26px;
}
.hero-bottom-white p{
    color: var(--gray);
    font-family: var(--font-Roboto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1rem;
    text-align: left;
    padding-bottom: 26px;
}
.hero-bottom-white-link{
    color: var(--green);
    font-size: 1.68rem;
    display: block;
    cursor: pointer;
}
.hero-bottom-white-link:hover{
    color: var(--green-transp);
}
.hero-bottom-gray {
    width: 585px;
    height: 355px;
    color: var(--white);
    background-color: var(--gray);
    font-weight: 400;
    font-size: 6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px){
    .hero-boxes{
        top: 110px;
        height: 200px;
    }
    .hero-grid{
        padding: 20px;
        width: 100%;
    }
    .hero-h1, .hero-h3{
        text-align: center;
        padding-left: 0;
    }
}