.partners-container{
    width: 100%;
}
.partners-flex-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
}
.partners-flex-box img{
    max-width: 252px;
}

@media screen and (max-width: 1100px){
    .partners-flex-box{
        justify-content: space-around;
        gap:20px;
    }
}