.herosmall-title{
    margin:0;
    padding-top: 240px;
    padding-bottom: 192px;
    color: var(--green);
    font-family: var(--font-Lato);
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
    text-align: center;
    background-color: var(--white);  
}
.herosmall-title:after {
    content:"";
    display: block;
    width: 100px;
    border-top: 4px solid var(--black);
    margin: 22px auto 32px;
}